body {
  background-color: #1f2833;
  box-sizing: border-box;
}

.topSymbol {
  color: #66fcf1;
  margin: 0;
  font-size: 40px;
}

.bg-dark {
  background-color: #161718!important;
}
body {
  background-color: #111213; 
  
}
body {
  margin: 0;
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #c2c1bb;
}

.btn {
  display: inline-block;
  font-weight: 00;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .2rem .6rem;
  font-size: 0.81rem;
  line-height: 1.5;
  border-radius: .1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-size: 1.25rem;
}
.price {
  color: #66fcf1;
  margin: 0;
}

.change {
  color: #66fcf1;
  font-size: 12px;
}

.card-body {
  background-color: #1f2833;
  color: white;
  text-align: center;
  border-radius: 0;
}

ul {
  list-style: none;
  text-align: left;
  margin-top: 5px;
}

.imgResize {
  margin: 0 auto;
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.newsStories {
  margin-top: 20px;
  color: #45a29e;
}

.newsHeader {
  font-size: 20px;
}

.newsBody {
  line-height: 1;
  text-align: left;
  margin-top: 10px;
}

.chartRow {
  margin-top: 30px;
}

a {
  color: #28a745;
    border-color: #28a745;
}
a:hover {
  color: lightslategrey;
}
.headline {
  font-weight: bolder;
}

.snapshot {
  box-shadow: 0px 0px 10px black;
}

.dynamic {
  height: 400px;
  overflow: auto;
  margin: 0 0;
  box-shadow: 0px 0px 10px black;
}

.modallogin {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;

  /* position: relative; */
}

.loginModal {
  border-radius: 5px;
  color: white;
  background-color: #1f2833;
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  text-align: center;
}

.modalcreate {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;

  /* position: relative; */
}

.createModal {
  border-radius: 5px;
  color: white;
  background-color: #1f2833;
  position: relatve;
  width: 50%;
  height: 50%;
  padding: 10px;
  text-align: center;
}

.modalHeader {
  margin-bottom: 50px;
  margin-top: 15px;
}

.closeModal {
  float: right;
  cursor: pointer;
  margin: 0 0 0 0;
}

.modalButtons {
  background-color: #66fcf1;
  border: 1px solid black;
  transition: background-color 0.2s;
  width: 150px;
}

.modalButtons:hover {
  background-color: #296460;
}

.modalButtons:active {
  background-color: #b6fcf7;
}

.inputName,
.inputPassword {
  display: block;
  width: 40%;
  margin: 15px auto;
}

footer {
  text-align: center;
  margin-top: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-outline-success {
  color: fff;
  border-color: #fff;
}


button {

  margin: 1.5em;

}

.d-flex {
	display: flex!important
}

.align-items-center {
	align-items: center!important
}

.pt-5, .py-5 {
	padding-top: 3rem!important
}

.pb-5, .py-5 {
	padding-bottom: 2rem!important
}

.h1, h1 {
  font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin-top: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.blockquote, hr {
  margin-bottom: 1rem;
}
button, hr, input {
  overflow: visible;
}

::-webkit-scrollbar-track {
  background: #111213;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}

img {
  vertical-align: middle;
  border-style: none;
  background-color: #000000;
}

.form-control {
    display: block;
    width: 27%;

}
.section3 {
    background-color: #ffffff;
}
.font2 {
 color: black;   
}

.nice {
   font-size: 6.5rem;
   margin-bottom: 3.5rem;
    line-height: 1.2;
    text-align: center!important;
    color: #ffffff!important;
padding-top: 3rem!important;
font-weight: 500;
position: left;

}
.nice2 {
   font-size: 6.5rem;
    line-height: 1.2;
    text-align: center!important;
    color: #ffffff!important;
padding-top: 3rem!important;
font-weight: 500;
display: flex;
  flex-wrap: wrap;
  align-content: left;
}




.recovery-meter-progress {
    background: var(--stat-blue);
    display: block;
    position: absolute;
    top: 0;
    left: 1;
    z-index: 1;
    line-height: 11px;
    border-radius: 10px;
}

.recovery-meter-container {
    font-size: 14px;
    color: #DFDFEF;
    display: flex;
    align-items: center;
    position: relative;

}


.recovery-meter {
    height: 15px;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 2px solid #364061;
    border-radius: 10px;
}

.recovery-meter-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 980) {
  .recovery-meter-label {
    font-size: 12px;
  }
}

.recovery-meter-stat {
  z-index: 3;
  position: absolute;
  left: 45%;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}



.text--blue {
  color: var(--stat-blue);
}

.recovered {
  color: var(--stat-blue);
}

:root {
  --stat-green: rgb(101, 221, 155);
  --stat-red: #F65164;
  --stat-yellow: rgb(248, 245, 64);
  --stat-blue: rgb(68, 155, 226);
  --paleGray: #DFDFEF;
}


#container {
    margin: 20px;

  width: 200px;
  height: 100px;
  left: 60px; 
        
}

#container2 {
  margin: 20px;

width: 200px;
height: 100px;
left: 60px; 
      
}
#container3 {
  margin: 20px;

width: 200px;
height: 100px;
left: 60px; 
      
}
#container4 {
  margin: 20px;

width: 200px;
height: 100px;
left: 60px; 
      
}


.card {
  background-color: #1f1f1f;
    box-shadow: 1px 4px 8px rgba(0,0,0,.15);
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.Explore {
  padding-top: 2rem!important;
  font-weight: 600;
  font-weight: lighter;
  
}

.Des {
padding-top: 0.75rem;
font-weight: 500;
font-style: italic;
padding-left: 0.40rem;
font-size: 15px;

}

.De {
padding-left: 0.80rem;
padding-right: 1rem;

padding-top: 0.20rem;
font-size: 12px;
font-weight: lighter;
width:109%; 


}

.Ded {
padding-left: 0.80rem;
padding-right: 0.80rem;

padding-top: 0.20rem;
font-size: 12px;
font-weight: lighter;
width:105%; 
}